{
  "plugins": [
    [
      "relay",
      "macros",
      "@babel/plugin-transform-runtime",
      {
        "corejs": true,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}