.template-label {
    font-size: 28px !important;
    font-weight: bold;
}

.template-prop {
    margin: 15px;
}

.template-prop-key, .template-rel-key {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.add-template-btn, .add-relationship-btn {
    margin-left: 15px;
}

.topbar-form.navbar-left {
  float: none !important;
}