.home {
  text-align: center;
}

.home-logo {
  animation: home-logo-spin infinite 20s linear;
  height: 80px;
}

.home-header-container {
  background-color: #222;
  height: 500px;
  padding: 20px;
  color: white;
}

.home-header {
  margin-top: 100px;
}

.home-header > .form {
  margin: 5px;
  color: #000;
}

.home-header > .btn-success {
  margin: 5px;
  color: #ffffff;
  background-color: #00967B;
  border-color: #00836C;
}

.home-header > .btn-success:hover,
.home-header > .btn-success:focus,
.home-header > .btn-success:active,
.home-header > .btn-success.active {
  color: #fff;
  background-color: #00836C;
  border-color: #00836C;
}

.home-header > .btn-success:focus:active {
  color: #fff;
  background-color: #006F5B;
  border-color: #00836C;
}

.home-intro {
  font-size: large;
}

@keyframes home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}