.panel {
    margin: auto;
    width: 75%;
}

.node-prop-key {
    font-weight: bold;
}

#images-section-container {
    width: 50%;
    float: left;
}

#videos-section-container {
    width: 50%;
    float: left;
}

.video-container {
    margin: 15px;
}

.image > img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    overflow: hidden;
    margin: 10px;
    float: left;
}

.review-container {
    width: 45%;
    float: left;
    margin: 15px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
}

.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}

.glyphicon {
    margin-right: 5px;
}